<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="MelsitovSemik.study.laboratory2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="MelsitovSemik.study.laboratory2.UI.Activities.SignActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="MelsitovSemik.study.laboratory2.UI.Activities.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <service android:name="MelsitovSemik.study.laboratory2.Services.PushService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="MelsitovSemik.study.laboratory2.Services.RefreshMeetingsService"/>
        <receiver android:name="MelsitovSemik.study.laboratory2.Broadcasts.RefreshMeetingsBroadcast"/>
        <receiver android:name="MelsitovSemik.study.laboratory2.Broadcasts.NotificationBroadcast"/>
    </application>

</manifest>